---
import { getCollection } from "astro:content";
import TeamLayout from "../../layouts/TeamLayout.astro";
export async function getStaticPaths() {
  const team = await getCollection("team");
  console.log("team", team);
  const paths = team.map((page) => {
    return {
      params: { slug: page.slug },
      props: { page },

      trailingSlash: false,
    };
  });
  return paths;
}
const { page } = Astro.props;
const { Content } = await page.render();
---

<head>
  <meta name="robots" content="noindex" />
</head>

<TeamLayout frontmatter={page.data}>
  <Content />
  <span class="inline-flex items-center py-4 text-xs font-medium text-white">
    <a href="/team">Back</a>
  </span>
</TeamLayout>
