---
// Define this array in your Astro component or import it from a separate file.
const features = [
  {
    id: "noBaseCost",
    title: "Pay Only When You Earn",
    description:
      "We only get paid when we earn you money. No hidden fees or fixed costs.",
    dataAos: "fade-right",
    iconId: "calculator",
  },
  {
    id: "control",
    title: "Get 24/7 Control",
    description: "Submit claims and view results anytime, day or night.",
    dataAos: "fade-down",
    iconId: "time",
  },
  {
    id: "fastProfessional",
    title: "Fast & Professional",
    description: "Our experienced specialists are highly responsive.",
    dataAos: "fade-left",
    iconId: "delivery",
  },
  {
    id: "businessTime",
    title: "Spend Time on Your Business",
    description: "Simple communication in email or Slack.",
    dataAos: "fade-right",
    iconId: "store",
  },
  {
    id: "flexibility",
    title: "Flexibility is Important",
    description:
      "Pause or cancel your plan anytime. No long-term contracts or unexpected fees.",
    dataAos: "fade-up",
    iconId: "pause",
  },
  {
    id: "personalized",
    title: "Personalized Service",
    description:
      "We know our clients by name, not by number. We are here to help you succeed.",
    dataAos: "fade-left",
    iconId: "satisfied",
  },
];
---

<section class="relative overflow-hidden">
  <div class="mx-auto max-w-7xl px-8 py-12 md:px-12 lg:px-36 lg:py-24">
    <div
      class="max-w-3xl lg:mx-auto lg:text-center"
      data-aos="fade-up"
      data-aos-duration="2000"
    >
      <h3 class="font-display text-4xl text-white">Our Benefits</h3>
      <p class="mt-4 text-onyx-300">
        Fluidity AI clients enjoy
        <span class="md:block"> the advantages of our technology.</span>
      </p>
    </div>
    <div
      class="mt-24 grid grid-cols-2 gap-6 lg:grid-cols-3 lg:gap-x-6 lg:gap-y-24 lg:text-center"
    >
      {
        features.map((feature) => (
          <div class="border-b border-onyx-800 pb-4">
            <div>
              <div
                data-aos={feature.dataAos}
                data-aos-duration="2000"
                class="flex h-16 w-16 items-center justify-center rounded-xl border border-onyx-800 bg-gradient-to-tr from-onyx-950 to-onyx-700 text-blue-300 shadow-massive lg:mx-auto"
              >
                {feature.iconId === "calculator" && (
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    focusable="false"
                    preserveAspectRatio="xMidYMid meet"
                    fill="currentColor"
                    width="32"
                    height="32"
                    viewBox="0 0 32 32"
                    aria-hidden="true"
                  >
                    <path d="M26,4V28H6V4H26m0-2H6A2,2,0,0,0,4,4V28a2,2,0,0,0,2,2H26a2,2,0,0,0,2-2V4A2,2,0,0,0,26,2Z" />
                    <path d="M9 23H11V25H9zM21 23H23V25H21zM9 18H11V20H9zM21 18H23V20H21zM9 13H11V15H9zM15 23H17V25H15zM15 18H17V20H15zM15 13H17V15H15zM21 13H23V15H21zM9 7H23V10H9z" />
                    <title>Calculator</title>
                  </svg>
                )}
                {feature.iconId === "time" && (
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    focusable="false"
                    preserveAspectRatio="xMidYMid meet"
                    fill="currentColor"
                    width="32"
                    height="32"
                    viewBox="0 0 32 32"
                    aria-hidden="true"
                  >
                    <path d="M16,30A14,14,0,1,1,30,16,14,14,0,0,1,16,30ZM16,4A12,12,0,1,0,28,16,12,12,0,0,0,16,4Z" />
                    <path d="M20.59 22L15 16.41 15 7 17 7 17 15.58 22 20.59 20.59 22z" />
                    <title>Time</title>
                  </svg>
                )}
                {feature.iconId === "delivery" && (
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    focusable="false"
                    preserveAspectRatio="xMidYMid meet"
                    fill="currentColor"
                    width="32"
                    height="32"
                    viewBox="0 0 32 32"
                    aria-hidden="true"
                  >
                    <path d="M4 16H16V18H4zM2 11H12V13H2z" />
                    <path d="M29.9189,16.6064l-3-7A.9985.9985,0,0,0,26,9H23V7a1,1,0,0,0-1-1H6V8H21V20.5562A3.9924,3.9924,0,0,0,19.1421,23H12.8579a4,4,0,1,0,0,2h6.2842a3.9806,3.9806,0,0,0,7.7158,0H29a1,1,0,0,0,1-1V17A.9965.9965,0,0,0,29.9189,16.6064ZM9,26a2,2,0,1,1,2-2A2.0023,2.0023,0,0,1,9,26ZM23,11h2.3408l2.1431,5H23Zm0,15a2,2,0,1,1,2-2A2.0023,2.0023,0,0,1,23,26Zm5-3H26.8579A3.9954,3.9954,0,0,0,23,20V18h5Z" />
                    <title>Delivery</title>
                  </svg>
                )}
                {feature.iconId === "store" && (
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    focusable="false"
                    preserveAspectRatio="xMidYMid meet"
                    fill="currentColor"
                    width="32"
                    height="32"
                    viewBox="0 0 32 32"
                    aria-hidden="true"
                  >
                    <path d="M30,10.68l-2-6A1,1,0,0,0,27,4H5a1,1,0,0,0-1,.68l-2,6A1.19,1.19,0,0,0,2,11v6a1,1,0,0,0,1,1H4V28H6V18h6V28H28V18h1a1,1,0,0,0,1-1V11A1.19,1.19,0,0,0,30,10.68ZM26,26H14V18H26Zm2-10H24V12H22v4H17V12H15v4H10V12H8v4H4V11.16L5.72,6H26.28L28,11.16Z" />
                    <title>Store</title>
                  </svg>
                )}{" "}
                {feature.iconId === "pause" && (
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    focusable="false"
                    preserveAspectRatio="xMidYMid meet"
                    fill="currentColor"
                    width="32"
                    height="32"
                    viewBox="0 0 32 32"
                    aria-hidden="true"
                  >
                    <path d="M12 8V24H8V8h4m0-2H8A2 2 0 006 8V24a2 2 0 002 2h4a2 2 0 002-2V8a2 2 0 00-2-2zM24 8V24H20V8h4m0-2H20a2 2 0 00-2 2V24a2 2 0 002 2h4a2 2 0 002-2V8a2 2 0 00-2-2z" />
                    <title>Pause</title>
                  </svg>
                )}
                {feature.iconId === "satisfied" && (
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    focusable="false"
                    preserveAspectRatio="xMidYMid meet"
                    fill="currentColor"
                    width="32"
                    height="32"
                    viewBox="0 0 32 32"
                    aria-hidden="true"
                  >
                    <path d="M16,2A14,14,0,1,0,30,16,14,14,0,0,0,16,2Zm0,26A12,12,0,1,1,28,16,12,12,0,0,1,16,28Z" />
                    <path d="M11.5 11A2.5 2.5 0 1014 13.5 2.48 2.48 0 0011.5 11zM20.5 11A2.5 2.5 0 1023 13.5 2.48 2.48 0 0020.5 11zM16 24a8 8 0 006.85-3.89l-1.71-1a6 6 0 01-10.28 0l-1.71 1A8 8 0 0016 24z" />
                    <title>Face satisfied</title>
                  </svg>
                )}
              </div>
              <p class="mt-12 text-xl font-medium leading-6 text-white">
                {feature.title}
              </p>
            </div>
            <p class="mt-4 text-base text-white opacity-50">{feature.description}</p>
          </div>
        ))
      }
    </div>
  </div>
</section>
