---
import HeaderGrid from "../global/HeaderGrid.astro";
---

<section class="relative overflow-hidden">
  <HeaderGrid />

  <div
    class="relative mx-auto max-w-7xl px-8 pb-24 pt-32 md:px-12 lg:px-36 lg:pt-64"
  >
    <div
      class="mx-auto text-center"
      data-aos="fade-down"
      data-aos-duration="3000"
    >
      <img
        class="h-30 mb-4 ml-auto mr-auto"
        src="/public/logos/FullColorWhite.svg"
      />
      <h1 class="font-display text-2xl text-onyx-400 lg:text-8xl">
        Revolutionary Revenue Recovery
        <span class="md:block"> for Healthcare Practitioners.</span>
      </h1>
      <p class="mt-4 text-xl text-white">
        Bill smarter, and smarter, and smarter...
      </p>
      <div class="mt-12 flex flex-wrap justify-center gap-3">
        <a
          href="mailto:sales@fluidity-ai.com"
          title="Contact us"
          aria-label="your label"
          class="text-onyx-950-700 hover:shadow-none inline-flex h-12 w-full transform items-center justify-center rounded-xl bg-blue-300 px-6 py-3 text-center text-sm shadow-massive duration-500 ease-in-out hover:to-indigo-400 focus:outline-none focus:ring-2 focus:ring-indigo-300 focus:ring-offset-2 focus:ring-offset-onyx-900 sm:w-auto"
        >
          Contact us
        </a>
      </div>
    </div>
  </div>
</section>
