---
const items = [
  "Negotiations",
  "Credentialing",
  "Eligibility",
  "Old AR Recovery",
  "Reporting",
  "Denials",
  "Coding",
  "Payment Posting",
];
---

<section>
  <div class="mx-auto max-w-7xl px-8 py-12 md:px-12 lg:px-36 lg:py-24">
    <div data-aos="fade-up" data-aos-duration="2000">
      <h3 class="font-display text-4xl text-white">
        We can do many things for you.<span class="text-onyx-500 md:block">
          This is what we do best.</span
        >
      </h3>
      <div class="mt-12 flex flex-wrap">
        <a
          href="/services"
          title="Services"
          aria-label="services"
          class="inline-flex w-full transform items-center justify-center rounded-xl border border-onyx-800 bg-onyx-500 px-6 py-3 text-center text-xl text-white duration-500 ease-in-out hover:text-blue-300 focus:outline-none focus:ring-2 focus:ring-onyx-300 focus:ring-offset-2 focus:ring-offset-onyx-900 sm:w-auto"
          >Get a grasp of all our services
        </a>
      </div>
    </div>
    <ul
      class="order-y mt-12 grid grid-cols-2 gap-4 border-onyx-800 py-6 sm:grid-cols-2 md:grid-cols-4"
    >
      {
        items.map((item) => (
          <li>
            <p class="text-base text-onyx-300">{item}</p>
          </li>
        ))
      }
    </ul>
  </div>
</section>
