---
import HeaderGrid from "../global/HeaderGrid.astro";

const team = [
  {
    name: "Dan Kennedy",
    role: "CEO",
    image: { src: "/team/Dan.jpg" },
  },
  {
    name: "Tressa Stegman",
    role: "COO",
    image: { src: "/team/Tressa.jpg" },
  },
  {
    name: "Jonathan Seneris",
    role: "CTO",
    image: { src: "/team/Jonathan.jpg" },
  },
  {
    name: "Juan Gonzales",
    role: "Quality Architect",
    image: { src: "/team/Juan.jpg" },
  },
  {
    name: "Megan Lincoln",
    role: "Sr Medical Billing Lead",
    image: { src: "/team/Megan.jpg" },
  },
  {
    name: "Sean Keller",
    role: "Negotiations Lead",
    image: { src: "/team/Sean.jpg" },
  },
  {
    name: "Caitlin Brown",
    role: "Medical Billing Specialist",
    image: { src: "/team/Caitlin.jpg" },
  },
  {
    name: "Jordan Kennedy",
    role: "Medical Billing Specialist",
    image: { src: "/team/Jordan.jpg" },
  },
  {
    name: "Izzy Rhoads",
    role: "Business Development",
    image: { src: "/team/Izzy.jpg" },
  },
  {
    name: "Lara Albertson",
    role: "Business Development",
    image: { src: "/team/Lara.jpg" },
  },
  {
    name: "Samantha Kendrick",
    role: "Creative Designer",
    image: { src: "/team/Sam.jpg" },
  },
].map((p) => ({
  ...p,
  link: `/team/${p.name.split(" ")[0].toLowerCase()}`,
}));
---

<section class="relative overflow-hidden">
  <HeaderGrid />

  <div
    class="relative mx-auto max-w-7xl px-8 pb-24 pt-32 md:px-12 lg:px-36 lg:pt-64"
  >
    <div data-aos="fade-down" data-aos-duration="3000">
      <h1 class="font-display text-4xl text-white lg:text-5xl">
        About Us<span class="text-onyx-400 md:block">
          The Team at Fluidity AI</span
        >
      </h1>
      <div class="mt-10 text-white">
        <p>
          Our strength lies in our deep industry experience, which benefits our
          clients in everything we do.
        </p>
        <div class="max-w-2xl space-y-6 text-base">
          <p>
            Fluidity AI was started by a group of colleagues who realized there
            was a better way to deliver value to practitioners.
          </p>
          <p>
            At Fluidity AI, we leverage artificial intelligence to enhance the
            natural intelligence of our team members and clients.
          </p>
        </div>
      </div>

      <div class="space-y-24">
        <>
          <div
            class="grid grid-cols-1 gap-6 pt-12 sm:pt-16 lg:grid-cols-4 xl:gap-8"
          >
            <div class="lg:col-span-3">
              <ul
                role="list"
                class="grid grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-3 xl:gap-8"
              >
                {
                  team.map((person) => (
                    <li>
                      <div class="bg-neutral-100 group relative overflow-hidden rounded-3xl">
                        <a href={person.link}>
                          <img
                            alt=""
                            {...person.image}
                            class="h-96 w-full object-cover transition duration-500 motion-safe:group-hover:scale-105"
                          />
                          <div class="absolute inset-0 flex flex-col justify-end bg-gradient-to-t from-black to-black/0 to-40% p-6">
                            <p class="font-display text-sm font-bold tracking-wide text-white">
                              {person.name}
                            </p>
                            <p class="mt-2 text-sm text-white">{person.role}</p>
                          </div>
                        </a>
                      </div>
                    </li>
                  ))
                }
              </ul>
            </div>
          </div>
        </>
      </div>
    </div>
  </div>
</section>
