---
import HeaderGrid from "../global/HeaderGrid.astro";
import imageBlakeReid from "/public/team/blake-reid.jpg";
import imageChelseaHagon from "/public/team/chelsea-hagon.jpg";
import imageDriesVincent from "/public/team/dries-vincent.jpg";
import imageEmmaDorsey from "/public/team/emma-dorsey.jpg";
import imageJeffreyWebb from "/public/team/jeffrey-webb.jpg";
import imageKathrynMurphy from "/public/team/kathryn-murphy.jpg";
import imageLeonardKrasner from "/public/team/leonard-krasner.jpg";
import imageWhitneyFrancis from "/public/team/whitney-francis.jpg";

const team = [
  {
    name: "Dan Kennedy",
    role: "Founder / CEO",
    image: { src: "/public/team/dries-vincent.jpg" },
  },
  {
    name: "Tressa Stegman",
    role: "Operations",
    image: { src: "/public/team/emma-dorsey.jpg" },
  },
  {
    name: "Megan Lincoln",
    role: "Operations",
    image: { src: "/public/team/chelsea-hagon.jpg" },
  },
  {
    name: "Sean Keller",
    role: "Operations",
    image: { src: "/public/team/blake-reid.jpg" },
  },
  {
    name: "Caitlin Brown",
    role: "Operations",
    image: { src: "/public/team/kathryn-murphy.jpg" },
  },
  {
    name: "Izzy Rhoads",
    role: "Operations",
    image: { src: "/public/team/whitney-francis.jpg" },
  },
  {
    name: "Juan Gonzalez",
    role: "Technology",
    image: { src: "/public/team/leonard-krasner.jpg" },
  },
  {
    name: "Jonathan Seneris",
    role: "Technology",
    image: { src: "/public/team/CTO.png" },
  },
].map((x) => ({
  ...x,
  image: { src: "https://fluidity-ai.com/images/GarfieldCharacter.png" },
}));
---

<section class="relative overflow-hidden">
  <HeaderGrid />

  <div
    class="relative mx-auto max-w-7xl px-8 pb-24 pt-32 md:px-12 lg:px-36 lg:pt-64"
  >
    <div data-aos="fade-down" data-aos-duration="3000">
      <h1 class="font-display text-4xl text-white lg:text-5xl">
        About Us<span class="text-onyx-400 md:block">
          The Team at Fluidity AI</span
        >
      </h1>
      <div class="mt-10 text-onyx-300">
        <p>
          Our strength lies in our deep industry experience, which benefits our
          clients in everything we do.
        </p>
        <div class="max-w-2xl space-y-6 text-base">
          <p>
            Fluidity AI was started by a group of colleagues who realized there
            was a better way to deliver value to practitioners.
          </p>
          <p>
            At Fluidity AI, we leverage artificial intelligence to enhance the
            natural intelligence of our team members and clients.
          </p>
        </div>
      </div>

      <!--<div class="mt-24 text-white sm:mt-32 lg:mt-40"></div>-->
      <div class="space-y-24">
        <>
          <div
            class="grid grid-cols-1 gap-6 pt-12 sm:pt-16 lg:grid-cols-4 xl:gap-8"
          >
            <!--<h2 class="text-neutral-950 font-display text-2xl font-semibold">-->
            <!--  {group.title}-->
            <!--</h2>-->
            <div class="lg:col-span-3">
              <ul
                role="list"
                class="grid grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-3 xl:gap-8"
              >
                {
                  team.map((person) => (
                    <li>
                      <div class="bg-neutral-100 group relative overflow-hidden rounded-3xl">
                        <img
                          alt=""
                          {...person.image}
                          class="h-96 w-full object-cover grayscale transition duration-500 motion-safe:group-hover:scale-105"
                        />
                        <div class="absolute inset-0 flex flex-col justify-end bg-gradient-to-t from-black to-black/0 to-40% p-6">
                          <p class="font-display text-base/6 font-semibold tracking-wide text-white">
                            {person.name}
                          </p>
                          <p class="mt-2 text-sm text-white">{person.role}</p>
                        </div>
                      </div>
                    </li>
                  ))
                }
              </ul>
            </div>
          </div>
        </>
      </div>
    </div>
    <!--<div>-->
    <!--  <div>-->
    <!--    <div class="mt-24">-->
    <!--      <p class="text-sm font-medium leading-6 text-white">-->
    <!--        Figtree /<span class="text-onyx-300">-->
    <!--          Clash display / JetBrains Mono</span-->
    <!--        ><span class="text-onyx-300"> Clash display</span>-->
    <!--      </p>-->
    <!--      <div class="mt-6 divide-y divide-onyx-800 border-y border-onyx-800">-->
    <!--        <div class="grid grid-cols-3 items-end py-4 lg:grid-cols-4 lg:py-8">-->
    <!--          <div><span class="text-white">Header 1</span></div>-->
    <!--          <div class="col-span-2 lg:col-span-3">-->
    <!--            <span class="font-display text-4xl text-white lg:text-5xl"-->
    <!--              >Header 1</span-->
    <!--            >-->
    <!--          </div>-->
    <!--        </div>-->
    <!--        <div class="grid grid-cols-3 items-end py-4 lg:grid-cols-4 lg:py-8">-->
    <!--          <div><span class="text-white">Header 2</span></div>-->
    <!--          <div class="col-span-2 lg:col-span-3">-->
    <!--            <span class="font-display text-4xl text-white">Header 2</span>-->
    <!--          </div>-->
    <!--        </div>-->

    <!--        <div class="grid grid-cols-3 items-end py-4 lg:grid-cols-4 lg:py-8">-->
    <!--          <div><span class="text-white">Link</span></div>-->
    <!--          <div class="col-span-2 lg:col-span-3">-->
    <!--            <span-->
    <!--              class="underlined text-sm text-blue-300 hover:text-onyx-400"-->
    <!--              >Link text</span-->
    <!--            >-->
    <!--          </div>-->
    <!--        </div>-->
    <!--        <div class="grid grid-cols-3 items-end py-4 lg:grid-cols-4 lg:py-8">-->
    <!--          <div><span class="text-white">Subtitle</span></div>-->
    <!--          <div class="col-span-2 lg:col-span-3">-->
    <!--            <span class="text-lg leading-6 text-onyx-300"-->
    <!--              >Subtitle text</span-->
    <!--            >-->
    <!--          </div>-->
    <!--        </div>-->
    <!--        <div class="grid grid-cols-3 items-end py-4 lg:grid-cols-4 lg:py-8">-->
    <!--          <div><span class="text-white">Paragraph</span></div>-->
    <!--          <div class="col-span-2 lg:col-span-3">-->
    <!--            <span class="text-base text-onyx-300"-->
    <!--              >I am so happy, my dear friend, so absorbed in the exquisite-->
    <!--              sense of mere tranquil existence, that I neglect my talents.</span-->
    <!--            >-->
    <!--          </div>-->
    <!--        </div>-->
    <!--        <div class="grid grid-cols-3 items-end py-4 lg:grid-cols-4 lg:py-8">-->
    <!--          <div><span class="text-white">Caption</span></div>-->
    <!--          <div class="col-span-2 lg:col-span-3">-->
    <!--            <span class="text-sm text-onyx-300"-->
    <!--              >Picture about somethign</span-->
    <!--            >-->
    <!--          </div>-->
    <!--        </div>-->
    <!--        <div class="grid grid-cols-3 items-end py-4 lg:grid-cols-4 lg:py-8">-->
    <!--          <div><span class="text-white">List</span></div>-->
    <!--          <div class="col-span-2 lg:col-span-3">-->
    <!--            <ul-->
    <!--              class="mt-6 list-inside list-decimal space-y-3 text-base text-onyx-300"-->
    <!--              role="list"-->
    <!--            >-->
    <!--              <li>Next.js and/or Nuxt.js</li>-->
    <!--              <li>CReact Native .</li>-->
    <!--              <li>AWS and/or Firebase</li>-->
    <!--              <li>Familiarity with noSQL databases</li>-->
    <!--            </ul>-->
    <!--          </div>-->
    <!--        </div>-->
    <!--      </div>-->
    <!--    </div>-->
    <!--  </div>-->
    <!--</div>-->
  </div>
  <!--<div class="mx-auto max-w-7xl px-8 py-12 md:px-12 lg:px-36">-->
  <!--  <div>-->
  <!--    <p class="text-sm font-medium leading-6 text-white">Buttons</p>-->
  <!--    <div class="mt-6 flex w-full flex-wrap gap-3">-->
  <!--      <a-->
  <!--        class="text-onyx-950-700 hover:shadow-none inline-flex w-full transform items-center justify-center rounded-xl bg-gradient-to-tr from-indigo-500 via-indigo-400 to-indigo-300 px-6 py-4 text-center text-sm shadow-massive duration-500 ease-in-out hover:to-indigo-400 focus:outline-none focus:ring-2 focus:ring-indigo-300 focus:ring-offset-2 focus:ring-offset-onyx-900 sm:w-auto"-->
  <!--        href="/">Primary button</a-->
  <!--      >-->
  <!--      <a-->
  <!--        class="hover:shadow-none inline-flex w-full transform items-center justify-center rounded-xl border border-onyx-800 bg-onyx-900 px-6 py-4 text-center text-sm text-onyx-300 shadow-massive duration-500 ease-in-out hover:text-blue-300 focus:outline-none focus:ring-2 focus:ring-onyx-300 focus:ring-offset-2 focus:ring-offset-onyx-900 sm:w-auto"-->
  <!--        href="#benefits"-->
  <!--        >Secondary button-->
  <!--      </a>-->
  <!--      <a-->
  <!--        class="hover:shadow-none inline-flex w-full transform items-center justify-center rounded-xl bg-onyx-800 px-6 py-4 text-center text-sm text-onyx-300 shadow-massive duration-500 ease-in-out hover:text-blue-300 focus:outline-none focus:ring-2 focus:ring-onyx-300 focus:ring-offset-2 focus:ring-offset-onyx-900 sm:w-auto"-->
  <!--        href="#benefits"-->
  <!--        >Tertiary button-->
  <!--      </a>-->
  <!--    </div>-->
  <!--  </div>-->
  <!--</div>-->

  <!--<div class="mx-auto max-w-7xl px-8 py-12 md:px-12 lg:px-36">-->
  <!--  <div>-->
  <!--    <p class="text-sm font-medium leading-6 text-white">Main color palette</p>-->
  <!--    <div class="mt-6 py-4">-->
  <!--      <div class="grid grid-cols-2 gap-2 lg:grid-cols-3">-->
  <!--        <div class="space-y-2">-->
  <!--          <div class="rounded-lg bg-white p-6 lg:justify-center"></div>-->
  <!--          <div-->
  <!--            class="rounded-lg bg-gradient-to-tr from-indigo-500 via-indigo-400 to-indigo-300 p-6 lg:justify-center"-->
  <!--          >-->
  <!--          </div>-->
  <!--        </div>-->
  <!--        <div>-->
  <!--          <div class="rounded-t-lg bg-blue-50 p-6 lg:justify-center"></div>-->
  <!--          <div class="bg-blue-100 p-6 lg:justify-center"></div><div-->
  <!--            class="bg-blue-200 p-6 lg:justify-center"-->
  <!--          >-->
  <!--          </div><div class="bg-blue-300 p-6 lg:justify-center"></div><div-->
  <!--            class="bg-blue-400 p-6 lg:justify-center"-->
  <!--          >-->
  <!--          </div><div class="rounded-b-lg bg-blue-500 p-6 lg:justify-center">-->
  <!--          </div>-->
  <!--        </div>-->
  <!--        <div>-->
  <!--          <div class="rounded-t-lg bg-onyx-50 p-6 lg:justify-center"></div>-->
  <!--          <div class="bg-onyx-100 p-6 lg:justify-center"></div><div-->
  <!--            class="bg-onyx-200 p-6 lg:justify-center"-->
  <!--          >-->
  <!--          </div><div class="bg-onyx-300 p-6 lg:justify-center"></div><div-->
  <!--            class="bg-onyx-400 p-6 lg:justify-center"-->
  <!--          >-->
  <!--          </div><div class="bg-onyx-500 p-6 lg:justify-center"></div><div-->
  <!--            class="bg-onyx-600 p-6 lg:justify-center"-->
  <!--          >-->
  <!--          </div><div class="bg-onyx-700 p-6 lg:justify-center"></div><div-->
  <!--            class="bg-onyx-800 p-6 lg:justify-center"-->
  <!--          >-->
  <!--          </div><div class="bg-onyx-900 p-6 lg:justify-center"></div><div-->
  <!--            class="rounded-b-lg border border-onyx-800 bg-onyx-950 p-6 lg:justify-center"-->
  <!--          >-->
  <!--          </div>-->
  <!--        </div>-->
  <!--      </div>-->
  <!--    </div>-->
  <!--  </div>-->
  <!--</div>-->
</section>
