---
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
import HeaderGrid from "@/components/global/HeaderGrid.astro";
---
<BaseLayout>
  <section class="relative overflow-hidden">
    <HeaderGrid />
    <div
      class="px-8 pt-32 pb-24 mx-auto md:px-12 lg:px-36 lg:pt-64 max-w-7xl relative">
      <div
        data-aos="fade-down"
        data-aos-duration="3000">
        <p class="text-onyx-300 text-sm">
          Updated on {frontmatter.pubDate.toString().slice(0, 15)}
        </p>
        <h1 class="text-4xl text-white mt-4 font-display">
          {frontmatter.page}
        </h1>
      </div>
      <div class="prose-styles">
        <slot />
      </div>
    </div>
  </section>
</BaseLayout>
