---
import HeaderGrid from "../global/HeaderGrid.astro"
---
<section class="relative overflow-hidden">
<HeaderGrid/>

  <div
    class="px-8 pt-32 pb-24 mx-auto md:px-12 lg:px-36 lg:pt-64 max-w-7xl relative text-base text-onyx-300">
    <div
      data-aos="fade-up"
      data-aos-duration="2000"
      class="max-w-xl">
      <h3 class="text-4xl text-white font-display text-balance">
        We can do many things for you,<span class="text-onyx-400">
          but this is what we do best</span
        >
      </h3>
    </div>
    <div class="border-y py-6 mt-12 border-onyx-800">
      <div class="grid grid-cols-2 gap-12 lg:grid-cols-5 md:grid-cols-3">
        <div class="flex flex-col justify-start">
          <p class="text-xl font-medium leading-6 text-white mb-3m">
            Landing Pages
          </p><a
            class="hover:text-blue-300 py-1"
            href="/"
            >Landing
          </a>
          <a
            class="hover:text-blue-300 py-1"
            href="/404"
            >404</a
          >
        </div>

        <div class="flex flex-col justify-start">
          <p class="text-xl font-medium leading-6 text-white mb-3m">
            Forms Pages
          </p><a
            class="hover:text-blue-300 py-1"
            href="/forms/contact"
            >Contact
          </a>
        </div>
        <div class="flex flex-col justify-start">
          <p class="text-xl font-medium leading-6 text-white mb-3m">
            System Pages
          </p><a
            class="hover:text-blue-300 py-1"
            href="/team"
            >Team</a
          >
          <a
            class="hover:text-blue-300 py-1"
            href="https://lexingtonthemes.com/license.html"
            >License</a
          >
        </div>
      </div>
    </div>
    <div
      data-aos="fade-up"
      data-aos-duration="2000"
      class="mt-12">
      <h3 class="text-4xl text-white font-display">Content collections</h3>
    </div>
    <div class="border-y py-6 mt-12 border-onyx-800">
      <div class="grid grid-cols-2 gap-12 lg:grid-cols-5 md:grid-cols-3">
        <div class="flex flex-col justify-start">
          <p class="text-xl font-medium leading-6 text-white mb-3m">
            Blog Pages
          </p>
          <a
            class="hover:text-blue-300 py-1"
            href="/blog/blog"
            >Blog home 1
          </a>
          <a
            class="hover:text-blue-300 py-1"
            href="/blog/blog-two"
            >Blog home 2
          </a>
          <a
            class="hover:text-blue-300 py-1"
            href="/blog/blog-three"
            >Blog home 3
          </a>
          <a
            class="hover:text-blue-300 py-1"
            href="/posts/1"
            >Blog Post
          </a><a
            class="hover:text-blue-300 py-1"
            href="/tags"
            >Tags Index
          </a><a
            class="hover:text-blue-300 py-1"
            href="/tags/HTML"
            >Tags category
          </a><a
            class="hover:text-blue-300 py-1"
            href="/rss.xml"
            >RSS</a
          >
        </div>
        <div class="flex flex-col justify-start">
          <p class="text-xl font-medium leading-6 text-white mb-3m">
            Utility Pages
          </p><a
            class="hover:text-blue-300 py-1"
            href="/infopages/faq"
            >FAQ</a
          ><a
            class="hover:text-blue-300 py-1"
            href="/infopages/cookies"
            >DPA
          </a>
          <a
            class="hover:text-blue-300 py-1"
            href="/infopages/about"
            >About
          </a>
          <a
            class="hover:text-blue-300 py-1"
            href="/infopages/cookies"
            >Cookies
          </a>
          <a
            class="hover:text-blue-300 py-1"
            href="/infopages/terms"
            >Terms Of use
          </a><a
            class="hover:text-blue-300 py-1"
            href="/infopages/privacy"
            >Privacy Policy
          </a>
        </div>
        <div class="flex flex-col justify-start">
          <p class="text-xl font-medium leading-6 text-white mb-3m">Work</p>
          <a
            class="hover:text-blue-300 py-1"
            href="/work/home"
            >Work home
          </a>
          <a
            class="hover:text-blue-300 py-1"
            href="/work/1"
            >Work details
          </a>
        </div>
        <div class="flex flex-col justify-start">
          <p class="text-xl font-medium leading-6 text-white mb-3m">Services</p>
          <a
            class="hover:text-blue-300 py-1"
            href="/services/home"
            >Work home
          </a>
          <a
            class="hover:text-blue-300 py-1"
            href="/services/web-dev"
            >Work details
          </a>
        </div>
         <div class="flex flex-col justify-start">
          <p class="text-xl font-medium leading-6 text-white mb-3m">Team</p>
          <a
            class="hover:text-blue-300 py-1"
            href="/team/home"
            >Team home
          </a>
          <a
            class="hover:text-blue-300 py-1"
            href="/team/1"
            >Team details
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
