---
import HeaderGrid from "../global/HeaderGrid.astro";
---

<section class="relative overflow-hidden">
  <HeaderGrid />
  <div
    class="relative flex max-h-full justify-center overflow-hidden md:px-12 lg:px-0"
  >
    <div
      class="relative z-10 flex flex-1 flex-col px-4 py-10 sm:justify-center md:flex-none md:px-28 lg:py-24 lg:pt-56"
    >
      <div class="w-full max-w-md">
        <div class="flex flex-col">
          <div>
            <h2 class="font-display text-4xl text-white lg:text-5xl">
              Let's get started!
            </h2><p class="mt-4 text-onyx-300">
              Complete the details below so we can process your request and then
              schedule a time to discuss your goals.
            </p>
          </div>
        </div>
        <form>
          <div class="mt-12 space-y-6">
            <div>
              <label for="name" class="block text-sm font-medium text-white"
                >First name</label
              >
              <input
                id="name"
                name="name"
                type="text"
                placeholder="John"
                aria-placeholder="First name"
                class="text-lime mt-2 block h-12 w-full appearance-none rounded-md border border-onyx-800 bg-onyx-900 px-3 py-2 text-blue-300 placeholder-onyx-500 focus:border-blue-300 focus:bg-onyx-800 focus:outline-none focus:ring-blue-300 sm:text-sm"
              />
            </div>
            <div class="col-span-full">
              <label for="company" class="block text-sm font-medium text-white"
                >What is the name of your company / organisation?</label
              >
              <input
                id="company"
                name="company"
                type="text"
                placeholder="Your Company"
                aria-placeholder="Company name"
                class="text-lime mt-2 block h-12 w-full appearance-none rounded-md border border-onyx-800 bg-onyx-900 px-3 py-2 text-blue-300 placeholder-onyx-500 focus:border-blue-300 focus:bg-onyx-800 focus:outline-none focus:ring-blue-300 sm:text-sm"
              />
            </div>
            <div class="col-span-full">
              <label for="email" class="block text-sm font-medium text-white"
                >How shall we contact you?</label
              >
              <input
                id="email"
                name="email"
                type="email"
                autocomplete="off"
                placeholder="email@example.com"
                aria-placeholder="Your email"
                class="text-lime mt-2 block h-12 w-full appearance-none rounded-md border border-onyx-800 bg-onyx-900 px-3 py-2 text-blue-300 placeholder-onyx-500 focus:border-blue-300 focus:bg-onyx-800 focus:outline-none focus:ring-blue-300 sm:text-sm"
              />
            </div>

            <div class="col-span-full">
              <div>
                <button
                  type="submit"
                  class="text-onyx-950-700 hover:shadow-none inline-flex h-12 w-full transform items-center justify-center rounded-xl bg-gradient-to-tr from-indigo-500 via-indigo-400 to-indigo-300 px-6 py-3 text-center text-sm shadow-massive duration-500 ease-in-out hover:to-indigo-400 focus:outline-none focus:ring-2 focus:ring-indigo-300 focus:ring-offset-2 focus:ring-offset-onyx-900"
                  >Get started today</button
                >
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
