---
const logos = [
  { src: "/logos/eskmd.png", alt: "ESKMD" },
  { src: "/logos/glendale.png", alt: "Glendale" },
  { src: "/logos/utah.png", alt: "Utah Intermountain" },
  {
    src: "/logos/goodlife.png",
    alt: "Good Life",
    classes: "hidden sm:block",
  },
];
---

<section>
  <div class="mx-auto max-w-7xl px-8 md:px-12 lg:px-36">
    <div
      class="grid grid-cols-1 items-center border-y border-onyx-800 py-12 md:grid-cols-2 lg:grid-cols-4 lg:gap-24"
    >
      <div class="col-span-full mx-auto lg:col-span-1 lg:mr-auto lg:max-w-none">
        <p class="text-xs text-onyx-400">
          Some of the amazing companies we have worked with
        </p>
      </div>
      <div class="mt-12 md:col-span-3 lg:mt-0">
        <div class="flex flex-wrap justify-between">
          {
            logos.map((logo) => (
              <img
                alt={logo.alt}
                class={`h-8 ${logo.classes || ""}`}
                src={logo.src}
              />
            ))
          }
        </div>
      </div>
    </div>
  </div>
</section>
