---
const logos = [
  { src: "https://fluidity-ai.com/logos/eskmd.png", alt: "ESKMD" },
  { src: "https://fluidity-ai.com/logos/glendale.png", alt: "Glendale" },
  { src: "https://fluidity-ai.com/logos/utah.png", alt: "Utah Intermountain" },
  { src: "https://fluidity-ai.com/logos/goodlife.png", alt: "Goodlife" },
  { src: "https://fluidity-ai.com/logos/premier.png", alt: "Premier Pain" },
];
---

<section>
  <div class="max-w-8xl mx-auto px-8 md:px-12 lg:px-36">
    <div
      class="grid grid-cols-1 items-center border-y border-onyx-800 py-12 md:grid-cols-2 lg:grid-cols-4 lg:gap-24"
    >
      <div class="col-span-full mx-auto lg:col-span-1 lg:mr-auto lg:max-w-none">
        <p class="text-sm text-onyx-400">
          Some of the amazing companies we've worked with
        </p>
      </div>
      <div class="mt-12 md:col-span-3 lg:mt-0">
        <div class="flex flex-wrap justify-between gap-2">
          {
            logos.map((logo) => (
              <img
                alt={logo.alt}
                class={`h-12 ${logo.classes || ""}`}
                src={logo.src}
              />
            ))
          }
        </div>
      </div>
    </div>
  </div>
</section>
