---
import siteConfig from "@/config/site.js";
---

<div class="fixed inset-x-0 top-2 z-50 lg:top-8" x-data="{ atTop: true }">
  <div
    class="mx-auto transform px-8 transition-all duration-1000 ease-in-out lg:max-w-lg"
    :class="{ ' max-w-2xl ': !atTop, 'lg:max-w-lg': atTop }"
    @scroll.window="atTop = (window.pageYOffset > 50 ? false : true)"
  >
    <div
      class="relative mx-auto flex w-full flex-col rounded-xl border border-onyx-800 bg-onyx-900/60 p-2 shadow-massive backdrop-blur-xl backdrop-filter md:flex-row md:items-center md:justify-between lg:rounded-2xl"
      x-data="{ open: false }"
    >
      <div class="flex flex-row items-center justify-between md:justify-start">
        <a
          class="inline-flex items-center pl-2 font-display text-xs text-white hover:text-white/50"
          href="/"
        >
          <!--<img-->
          <!--        -->
          <!--        height="100"-->
          <!--        width={100}-->
          <!--        alt=""-->
          <!--/>-->
          <img src="/logos/FullColorBlue.svg" class="mr-2 h-8" />
          <!--<img src="logos/logo-light-sm.svg" class="h-8 mr-2" />-->
          <!--<img src="logos/logo-full.svg" class="h-8 mr-2" />-->
          <!--<img src="logos/logo-alt.svg" class="h-8 mr-2" />-->
          <div>fluidity<span class="text-onyx-400">-</span>ai</div>
        </a><button
          @click="open = !open"
          class="text-zinc-400 hover:text-accent-300 inline-flex items-center justify-center p-2 focus:text-white focus:outline-none md:hidden"
          ><svg
            class="h-6 w-6"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            ><path
              d="M4 6h16M4 12h16M4 18h16"
              :class="{'hidden': open, 'inline-flex': !open }"
              class="inline-flex"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"></path><path
              d="M6 18L18 6M6 6l12 12"
              :class="{'hidden': !open, 'inline-flex': open }"
              class="hidden"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"></path></svg
          ></button
        >
      </div><nav
        class="hidden flex-grow flex-col justify-center py-12 md:flex md:flex-row md:items-end md:py-0"
        :class="{'flex': open, 'hidden': !open}"
      >
        <ul
          class="list-none items-center justify-center gap-3 space-y-2 text-center md:ml-auto md:inline-flex md:space-y-0 md:text-left"
        >
          <!--<li>-->
          <!--<a-->
          <!--  href="/system/overview"-->
          <!--  title="link to your page"-->
          <!--  aria-label="your label"-->
          <!--  class="px-2 py-10 text-xs text-white hover:text-blue-300"-->
          <!--  >Specialties</a-->
          <!--&gt;-->
          <!--</li>-->
          <!--<li>-->
          <!--  <a-->
          <!--    href="/team"-->
          <!--    title="The Team"-->
          <!--    aria-label="The Team"-->
          <!--    class="px-2 py-10 text-xs text-white hover:text-blue-300"-->
          <!--    >About Us</a-->
          <!--  >-->
          <!--</li>-->
          <li>
            <a
              href="mailto:sales@fluidity-ai.com"
              title="Contact"
              aria-label="Contact"
              class="inline-flex h-10 transform items-center rounded-lg bg-blue-300 px-4 py-2 text-center text-xs text-onyx-950 transition duration-500 ease-in-out hover:to-blue-400 focus:outline-none focus:ring-2 focus:ring-blue-300 focus:ring-offset-2"
              >Contact</a
            >
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
